/* html {} */

body {
    text-align: center;
    background-color: #333;
    font-family: sans-serif;
    margin: 3rem;

}

header {
    background-color: #346f3a;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

h1 {
    font-family: sans-serif;
    padding: 15px;
}

.container h2 {
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    max-width: 80%;
    margin: auto;
}

.leaf-background {
    position: absolute;
    width: 90%;
    height: 100%;
    opacity: 0.95;
}

.container {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.myForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 50px;
    margin-right: 20px;
    width: 60%;
    height: 50px;
}

.history .questionList {
    list-style: none;
    padding: 0;
    background-color: #346f3a;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;

}

.questionList li {
    background-color: #346f3a;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    max-width: 100%;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.questionList p::first-letter {
    text-transform: capitalize;

}

.questionList li:not(:first-child) {
    margin-top: 40px;
}

/* .questionList li div {
    background-color: #346f3a;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    max-width: 100%;
    margin-top: 50px;
    margin-left: 120px;
} */

.history {
    display: none;
}

.questionList {
    background-image: url('./file.png');
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    max-width: 100%;
    border-radius: 20px;
    margin-top: 50px;
    margin: center;
    margin-left: 10.5%;
}