@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
    text-align: center;
    background-color: #333;
    font-family: sans-serif;
    margin: 3rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-style: normal;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

header {
    background-color: #346f3a;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    /* max-width: 80%; */
}

h1 {
    font-family: sans-serif;
    padding: 15px;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.container h2 {
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    max-width: 60%;
    margin: auto;
}

.leaf-background {
    position: absolute;
    width: 90%;
    height: 100%;
    opacity: 0.95;
}

.container {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.myForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 20px;
    margin-right: 20px;
    width: 80%;
    height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}

#submit {
    align-self: center;
}

.questionList {
    list-style: none;
    padding: 0;
    background-color: #346f3a;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.questionList li {
    background-color: #346f3a;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    max-width: 100%;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.questionList p::first-letter {
    text-transform: capitalize;

}

.questionList li p {
    max-width: fit-content;
    text-align: left;
}

.questionList li:not(:first-child) {
    margin-top: 40px;
}

/* .questionList li div {
    background-color: #346f3a;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    max-width: 100%;
    margin-top: 50px;
    margin-left: 120px;
} */

.history {
    display: none;
}

.questionList {
    background-image: url('./file.png');
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    max-width: 100%;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 0rem;
}